In [7]:
import numpy as np
import pandas as pd
from sklearn.metrics import mean_absolute_percentage_error, \
  mean_absolute_error, r2_score, mean_squared_error

In [2]:
import pathlib

spy_filepath=pathlib.Path().cwd()/"SPY.csv"
df=pd.read_csv(spy_filepath,index_col="Date",parse_dates=True)
df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,112.370003,113.389999,111.510002,113.330002,92.246048,118944600
2010-01-05,113.260002,113.680000,112.849998,113.629997,92.490204,111579900
2010-01-06,113.519997,113.989998,113.430000,113.709999,92.555328,116074400
2010-01-07,113.500000,114.330002,113.180000,114.190002,92.946060,131091100
2010-01-08,113.889999,114.620003,113.660004,114.570000,93.255348,126402800

In [3]:
df['ClosePrediction'] = df['Close'].shift(1)

In [4]:
df.head()

,Open,High,Low,Close,Adj Close,Volume,ClosePrediction
Date,,,,,,,
2010-01-04,112.370003,113.389999,111.510002,113.330002,92.246048,118944600,NaN
2010-01-05,113.260002,113.680000,112.849998,113.629997,92.490204,111579900,113.330002
2010-01-06,113.519997,113.989998,113.430000,113.709999,92.555328,116074400,113.629997
2010-01-07,113.500000,114.330002,113.180000,114.190002,92.946060,131091100,113.709999
2010-01-08,113.889999,114.620003,113.660004,114.570000,93.255348,126402800,114.190002

In [5]:
y_true = df.iloc[1:]['Close']
y_pred = df.iloc[1:]['ClosePrediction']

In [6]:
# SSE : Sum Of Squared Errors
(y_true - y_pred).dot(y_true - y_pred)

6330.3742894926045

In [8]:
# MSE
mean_squared_error(y_true, y_pred)

2.798573956451196

In [10]:
# my implementation of mean squared errors
np.sum((y_true-y_pred)**2)/len(y_true)

2.798573956451196

In [11]:
# lazy programmer implementation
(y_true-y_pred).dot(y_true-y_pred)/len(y_true)

2.7985739564511958

In [12]:
# RMSE
mean_squared_error(y_true, y_pred, squared=False)

1.672893886787562

In [13]:
# RMSE again
mse = np.sum((y_true - y_pred)**2)/len(y_true)
np.sqrt(mse)

1.672893886787562

In [14]:
# lazy programmer rmse
np.sqrt((y_true - y_pred).dot(y_true - y_pred) / len(y_true))

1.6728938867875618

In [15]:
# MAE
mean_absolute_error(y_true, y_pred)

1.1457559803120336

In [16]:
# R^2
# Wow, what a great prediction!
# Why is it so good? Be suspicious...
r2_score(y_true, y_pred)

0.9989603259063914

In [17]:
# MAPE
mean_absolute_percentage_error(y_true, y_pred)

0.006494073151422373

In [18]:
# sMAPE
# Not implemented, oh well...
# Good thing we are brave and know how to implement things!
def smape(y_true, y_pred):
  numerator = np.abs(y_true - y_pred)
  denominator = (np.abs(y_true) + np.abs(y_pred)) / 2
  ratio = numerator / denominator
  return ratio.mean()

smape(y_true, y_pred)

0.006491365814068417

In [22]:
alpha=0.9
for n in range(10):
    rate = (alpha*(1-alpha)**n)*10**7
    print(f"assigned weight to point {n} : {rate}")

assigned weight to point 0 : 9000000.0
assigned weight to point 1 : 899999.9999999999
assigned weight to point 2 : 89999.99999999996
assigned weight to point 3 : 8999.999999999995
assigned weight to point 4 : 899.9999999999992
assigned weight to point 5 : 89.9999999999999
assigned weight to point 6 : 8.999999999999988
assigned weight to point 7 : 0.8999999999999987
assigned weight to point 8 : 0.08999999999999984
assigned weight to point 9 : 0.008999999999999982